<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/styles.css">
  <title>Armários</title>
</head>

<body>
  <h1>Aluguel de Armários</h1>
  <div class="locker-grid">
    <% lockers.forEach((locker)=> { %>
      <div class="locker-item <%= locker.status %>" data-id="<%= locker.id %>" data-status="<%= locker.status %>">
        <i class="fa-solid fa-vault locker-icon"></i>
        <span class="locker-id">
          <%= locker.id %>
        </span>
      </div>
      <% }); %>
  </div>
  <div class="legend">
    <div class="legend-item">
      <i class="fa-solid fa-vault locker-icon" style="color: #388e3c;"></i>
      <span>Disponível</span>
    </div>
    <div class="legend-item">
      <i class="fa-solid fa-vault locker-icon" style="color: #f57c00;"></i>
      <span>Reservado</span>
    </div>
    <div class="legend-item">
      <i class="fa-solid fa-vault locker-icon" style="color: #d32f2f;"></i>
      <span>Indisponível</span>
    </div>
  </div>
  <script src="/script.js"></script>
</body>

</html>